FORGEJO_DOMAIN=git.trieoh.com
FORGEJO_SSH_DOMAIN=ssh.trieoh.com
FORGEJO_ROOT_URL=https://git.trieoh.com/
FORGEJO_SSH_PORT=22

FORGEJO_DB_NAME=forgejo
FORGEJO_DB_USER=forgejo
FORGEJO_DB_PASSWORD=changeme

FORGEJO_SECRET_KEY=changeme
FORGEJO_JWT_SECRET=changeme
